[submodule "JS1"]
    path = JS1
    url = https://github.com/Churle/Estudo---Alura

[submodule "JS2"]
    path = JS2
    url = https://github.com/Churle/Estudo---Alura

[submodule "JS3"]
    path = JS3
    url = https://github.com/Churle/Estudo---Alura

[submodule "Numero-secreto"]
    path = Numero-secreto
    url = https://github.com/Churle/Estudo---Alura
